.header{
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: rgb(190, 214, 204);
}
.header-logo{
    width:100px;
}
.nav-list{
    display: flex;
}
.nav-list > li{
    padding: 10px;
    margin: 0 10px;
    list-style-type: none;
    font-size: 24px;
}
.product{
    background-color: rgb(236, 242, 240);
}
.prod-container{
    display: flex;
    flex-wrap: wrap;
    gap:50px;
}
.footer{
    background-color: black;
    color: white;
    font-size: 24px;
}